*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_31_2020_12_22_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_31_2020_12_22_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_12_31_2020_12_22_PM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_31_2020_12_22_PM__Default_Changelist_.xml
/.idea/shelf/
